<div class="mobile-message-container">
  <div class="content">
    <div>
      <div class="logo-section">
        <img
          src="/images/favicon.png"
          alt="Personify Logo"
          style="max-width: 100px; max-height: 100px; padding-bottom: 0px"
        />
      </div>
      <h1 class="brand-text">Personify</h1>
    </div>
    <p class="message">
      <strong
        >For now, please visit on your computer. Mobile coming soon.</strong
      ><br />
    </p>

    <div class="emoji">💻</div>
  </div>
</div>
