<app-layout>
  <div class="flow-container">
    <div class="conversation-area chat-scrollable">
      <!-- Chat message history -->
      <ng-container
        *ngFor="
          let message of messages$ | async;
          let i = index;
          trackBy: trackByMessageId
        "
      >
        <div
          class="chat-row"
          [ngClass]="getMessageClasses(message, i)"
          [class.visible]="message.isVisible"
        >
          <!-- Bot statement or question -->
          <ng-container *ngIf="message.sender === 'bot'">
            <!-- End flow button -->
            <ng-container *ngIf="message.type === 'end-flow-button'">
              <div class="end-flow-button-container">
                <button class="end-flow-button" (click)="finishFlow()">
                  <span class="button-text">{{ message.content }}</span>
                  <span class="button-icon">✨</span>
                </button>
              </div>
            </ng-container>

            <!-- Regular bot messages -->
            <ng-container *ngIf="message.type !== 'end-flow-button'">
              <app-text-bubble-wrapper
                [config]="getBubbleConfig(message, i)"
                (onSend)="onSend(message)"
              >
                <div class="bot-message-content">{{ message.content }}</div>
              </app-text-bubble-wrapper>
            </ng-container>
          </ng-container>

          <!-- User input (draft/question) or sent answer -->
          <ng-container *ngIf="message.sender === 'user'">
            <ng-container [ngSwitch]="message.questionType">
              <app-short-text-question
                *ngSwitchCase="'short_text'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-short-text-question>
              <app-long-text-question
                *ngSwitchCase="'long_text'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-long-text-question>
              <app-multi-select-question
                *ngSwitchCase="'multi_select'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-multi-select-question>
              <app-slider-question
                *ngSwitchCase="'slider'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-slider-question>
              <app-dropdown-question
                *ngSwitchCase="'dropdown'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-dropdown-question>
              <app-toggle-question
                *ngSwitchCase="'toggle'"
                [config]="getQuestionConfig(message)"
                (answerSubmitted)="onAnswerSubmitted($event, message)"
              ></app-toggle-question>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</app-layout>
